<!DOCTYPE html>
<html lang="en" class="h-100">

<head>
    <meta charset="UTF-8">
    <title>WE674 Class Project</title>
    {% include "_head_script.html" %}
</head>

<body class="d-flex flex-column h-100">
    <header class="bg-black">
        <div class="container">
            {% include "_nav_menu.html" %}
        </div>
    </header>

    <main class="flex-shrink-0 mt-5">
        <div class="container">
            {% include "_intro.html" %}

            <h3>Face Recognition</h3>
            <img src="{{ url_for('face_recognition_feed') }}" class="w-100 img-thumbnail">
            <div class="mt-3 text-center">
                <a href="/" class="btn btn-danger">Exit</a>
            </div>
        </div>
    </main>

    <footer class="footer mt-auto py-3">
        <div class="container">
            <span class="text-light">&copy; WE674</span>
        </div>
    </footer>
    {% include "_footer_script.html" %}
</body>

</html>